body{        
    background-color: rgb(0, 0, 0);
    border: 75px solid #e8002a;
    margin: 0; 
    padding: 0; 
    height: 100vh; 
    display: grid;
  }
  div{
    background-color: black;
  }
  h1{
    background-color:rgb(0, 0, 0);
    color:rgb(255, 0, 0);
    font-size: 50px;        
  }
  a{
    font-size: 50px;
  }
  .titulo{
    text-align: center;
  }
  .imagens{
    text-align: center;
  }
  .imagem{
    text-align: initial;
  }