body{        
    background-color: rgb(0, 0, 0);
    border: 30px solid rgb(70, 65, 65);
    margin: 0; 
    padding: 0; 
    height: 100vh; 
    display: grid;
  }
  div{
    background-color: black;
  }
  h1{
    background-color:rgb(0, 0, 0);
    color:rgb(255, 0, 255);
    font-size: 50px;        
  }
  a{
    font-size: 50px;
  }